<div class="title-box">
  <span class="title">
    Створення адміністратора
  </span>
</div>
<main>
  <div class="input-control">
    <span #firstNameError class="input-error"></span>
    <input type="text" class="form-control" placeholder="Ім'я" (change)="clearError(firstNameError)" required
      [(ngModel)]="model.firstName" />
  </div>
  <div class="input-control">
    <span #lastNameError class="input-error"></span>
    <input type="text" class="form-control" placeholder="Прізвище" (change)="clearError(lastNameError)" required
      [(ngModel)]="model.lastName" />
  </div>
  <div class="input-control">
    <span #middleNameError class="input-error"></span>
    <input type="text" class="form-control" placeholder="По батькові" (change)="clearError(middleNameError)" required
      [(ngModel)]="model.middleName" />
  </div>
  <div class="input-control">
    <input #inputBirthday type="date" class="form-control" placeholder="Дата народження" required
      [(ngModel)]="model.birthDate" />
  </div>
  <div class="input-control">
    <span #phoneError class="input-error"></span>
    <input type="phone" class="form-control" placeholder="Тел." (change)="onChangePhone()" required
      [(ngModel)]="model.phone" />
  </div>
  <div class="input-control">
    <span #emailError class="input-error"></span>
    <input type="text" class="form-control" placeholder="Електронна пошта" (change)="onChangeEmail()" required
      [(ngModel)]="model.email" />
  </div>
  <div class="input-control">
    <span #loginError class="input-error"></span>
    <input type="text" class="form-control" placeholder="Логін" (change)="clearError(loginError)" required
      [(ngModel)]="model.login" />
  </div>
  <div class="input-control">
    <span #passwordError class="input-error"></span>
    <input type="password" class="form-control" placeholder="Пароль" (change)="clearError(passwordError)" required
      [(ngModel)]="model.password" />
  </div>
  <div class="input-control">
    <span class="input-error"></span>
    <input type="password" class="form-control" placeholder="Повторіть пароль" required
      [(ngModel)]="model.passwordConfirm" />
  </div>
  <div class="input-control relative">
    <button class="vertical-center" (click)="submit()">Створити адміністратора</button>
  </div>
</main>
