<div class="navigator">
  <header>
    <div class="open-menu-button">
      <img #openMenuButton src="assets\images\open-menu.png" (click)="toggle()" />
    </div>
  </header>
  <nav [@openClose]="isOpen ? 'open' : 'closed'" class="nav-menu">
    <ul>
      <li *ngFor="let item of navigation" [routerLink]="item.route">
        <div>
          <img src="assets\images\{{item.iconName}}">
          <a>{{item.displayName}}</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="close-menu-bg" (click)="closeMenu()" *ngIf="isOpen"></div>
</div>