.navigator{
  --header-height: 60px;
}
header{
  height: var(--header-height);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}
.open-menu-button img{
  width: 48px;
}
.open-menu-button img:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.nav-menu{
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  width: 300px;
  background-color: rgba(164, 200, 255, 1);
  z-index: 100;
  border-right: 1px solid rgb(76, 192, 255)
}

.close-menu-bg{
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
}

.item:hover{
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.item{
  --padding: 20px;
  width: 100%;
  padding-top: calc(var(--padding) / 2);
  padding-bottom: calc(var(--padding) / 2);
  padding-left: 10px;
}

.item img{
  width: 24px;
  margin-right: 10px;
}