<div class="navigator">
  <header>
    <div class="open-menu-button">
      <img #openMenuButton src="assets\images\open-menu.png" (click)="toggle()" />
    </div>
    <app-logout></app-logout>
  </header>
  <nav [@openClose]="isOpen ? 'open' : 'closed'" class="nav-menu">
    <div class="items">
      <div class="item" *ngFor="let item of navigation" [routerLink]="item.route" (click)="closeMenu()">
        <div>
          <img src="assets\images\{{item.iconName}}">
          <span>{{item.displayName}}</span>
        </div>
      </div>
    </div>
  </nav>
  <div class="close-menu-bg" (click)="closeMenu()" *ngIf="isOpen"></div>
</div>
