<div class="content">
  <div class="input-control">
    <input type="text" class="form-control" (keydown)="onChangeInput()" placeholder="Login" required
      [(ngModel)]="model.login" />
  </div>
  <div class="input-control">
    <span #error class="error-message"></span>
  </div>
  <div class="input-control">
    <input type="password" class="form-control" (keydown)="onChangeInput()" placeholder="Password" required
      [(ngModel)]="model.password" />
  </div>
  <div class="input-control relative">
    <button class="vertical-center" (click)="loginEvent()">Login</button>
  </div>
</div>
